// Primary
$dark-blue-intro-email: hsl(217, 28%, 15%);
$dark-blue-main-bg: hsl(218, 28%, 13%);
$dark-blue-footer-bg: hsl(216, 53%, 9%);
$dark-blue-testimonials-bg: hsl(219, 30%, 18%);

// Accent
$call-action-cyan: hsl(176, 68%, 64%);
$call-action-blue: hsl(198, 60%, 50%);
$error: hsl(0, 100%, 63%);

// Neutral
$white: hsl(0, 0%, 100%);
